body {
    background-color: #2E3D33;
    color: white;
}
form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 40px 40px 40px;
    font-size: larger;
    color: #C2B49B;
}

/* input, select, textarea {
    width: 100%;
} */

button {
    width: 45%;
    margin: 8px;
    height: 30px;
    border-radius: 20px;
    background-color: #AEBEA1;
}

button:nth-child(2) {
    background-color: #D5B741;
}

select, textarea, .password input, .email input, .tel input, .alter input, .vorname input, .glücklich input, .nachname input {
    width: 100%;
    height: 30px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: chocolate;
    padding: 30px;
    font-size: xx-large;
}
textarea {
    height: 100px;
}